* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'YO';
    src: url('fonts/YO.ttf');
}

body {
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #1b2a5a;
    font-family: "Montserrat";
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

p {
    color: #1b2a5a;
    font-family: "YO";
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
}

.homeVideo {
    position: relative;
    width: 100%;
}

.homeVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.NavBar {
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(218, 226, 237, 0.75), rgba(218, 226, 237, 0.1));
}

.mainNavBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    width: 100%;
    height: 12%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    top: 757px;
    left: 0%;
}

.mainNavBar a {
    color: #4d5e78;
    font-family: "Montserrat";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mainNavBar a:hover {
    color: #1b2a5a;
}

.mainNavBar a:target {
    color: white;
}

.NavBar a {
    color: #4d5e78;
    font-family: "Montserrat";
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.NavBar a:hover {
    color: #1b2a5a;
}

.NavBar a:target {
    color: white;
}

.overlay {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 80%;
    max-width: 600px;
    text-align: left;
    color: white;
    z-index: 5;
}

.overlay h1 {
    font-size: 90px;
    text-shadow: 2px 2px 2px rgba(218, 226, 237, 0.10);
    color: white;
}

.overlay p {
    padding-left: 3%;
    padding-top: 2%;
    font-size: 17px;
    color: white;
    text-align: left;
}

.form {
   padding-top: 1%; 
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 5%;
  padding-top: 1%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(218, 226, 237, 0.75);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
